.klotski {
    width: 100%;
    aspect-ratio: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 0.5rem 1fr 0.5rem 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;

    & .piece {
        width: 100%;
        aspect-ratio: 1;
        position: relative;

        display: -ms-grid;

        display: grid;
        place-items: center;

        border-radius: var(--borderRadius);
        background-color: var(--bgSecondaryColor);

        border: 2px solid transparent;
        -webkit-transition: border-color 0.2s ease-in-out;
        -moz-transition: border-color 0.2s ease-in-out;
        -o-transition: border-color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out;

        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-tap-highlight-color: transparent;

        &:hover {
            border-color: var(--accentColorLight);
        }

        &[data-text]::after {
            content: attr(data-text);
            bottom: 0.3rem;
            position: absolute;
            font-size: 80%;
            font-weight: bold;
        }

        &[data-index]::before {
            content: attr(data-index);
            top: 0.3rem;
            position: absolute;
            font-size: 80%;
            font-weight: bold;
        }
    }

    &.completed .piece {
        cursor: default;
        /* When complete all pieces have a glow animation, 1 time */
        -webkit-animation: glow 1s ease 1 forwards;
                animation: glow 1s ease 1 forwards;
    }
}

@-webkit-keyframes glow {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        background-color: var(--bgSecondaryColor);
    }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        background-color: var(--bgPrimaryColor);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        background-color: var(--bgSecondaryColor);
    }
}

@keyframes glow {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        background-color: var(--bgSecondaryColor);
    }
    50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        background-color: var(--bgPrimaryColor);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        background-color: var(--bgSecondaryColor);
    }
}